{% extends "base.html" %}
{%load static%}

 {% block title %}
 <title>landing</title>
    {% endblock title %}




{% block content %}

<div style="display :flex ; justify-content : center; margin-top:50px; ">
<div class="card" style="width: 18rem;">
  <img src="{%static 'img/img1.jpg' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>


<div class="card" style="width: 18rem;">
  <img src="{%static 'img/img2.jpg' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="{%static 'img/img3.jpg' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
</div>
{% endblock content %}